body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav {
  background-color: #fff !important;
}

.navbar-brand {
  /*font-weight: 1.9rem !important;
  color: #7771e0 !important;
  padding-top: .3125rem; */
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.25rem !important;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Lobster', cursive;
    color:rgb(255, 81, 0) !important;
}

.navbar a {
  margin: 0px 50px;
  font-size: 1.8 rem;
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover{
  color: #3498db !important;
}

#header {
  width: 100% ;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 52px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: rgb(76, 76, 250);
}

#header h2{
  color: #7771e0;
  /*font-size: 30px;*/
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 2rem;
  
    
    
}


#header .btn-get-started {
  font-weight: 500;
  font-size: 16px ;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5ss;
  color:black;
  border: 2px solid black;
  text-decoration: none;

}

#header .btn-get-started:hover{

  background: royalblue;
  color: white;
}

.header-img {
  text-align: right;

}



#header .animated {
  /*up-down is the name of my annimation
  alternate-reverse is used to provide same time to go from bottom to top as it takes time from top to bottom*/
  
  animation:  up-down 6s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateY(10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*We have use two possibilites to import animation first from webkit and another fromm keyframes so that our website animation works properly in any browser*/


/* Now For Responsive Page Code */

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
  #header {
    height: 80vh;
    text-align: center;
  }

  #header .header-img {
    text-align: center;
  }

  #header .header-img img {
    width: 60%;

  }

}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  #header h1 {
    font-size: 2.8rem;
  }

  #header h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;

  }

  #header .header-img img {
    width: 70%;
    
  }
}



/*@media (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }

  #header .header-img {
    text-align: center;
  }

  #header .header-img img {
    width: 60%;

  }

}

@media (max-width: 768px) {
  #header h1 {
    font-size: 28px;
  }

  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;

  }

  #header .header-img img {
    width: 70%;
    
  }
}

*/

.hem_t{
  padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.25rem !important;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Lobster', cursive;
    color: rgb(2, 5, 12) !important;
}

.bbc{
  color: rgb(8, 12, 3);
  text-decoration: none;
}



h3{
  font-family: 'Saira Extra Condensed', sans-serif;

}
h4{
  font-family: 'Saira Extra Condensed', sans-serif;
}

footer p{
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
}













